<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class="container" margin=100px>
            &nbsp;
            <div class="row">
                <div class="col">
                    <img src="{{url_for('static', filename='dysi_blue_logo.jpg')}}" alt="DySi Logo" class="rounded float-left">
                </div>
                <div class="col">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
    <footer>
        <p align=center><a href="mailto:jnettgen@dynamicsignal.com">Having issues? Send me an email.</a></p>
    </footer>
</html>